@charset "UTF-8";

#motdwrap {
  font-family: "Crimson Text", Georgia, Utopia, Palatino, serif;
  font-size: 14px;
  margin-bottom:4px;
  padding:4px;
  padding-left:20px;
}

@media only screen and (min-width: 800px) {
  #motdwrap {
    background-image: url(https://jackandchat.github.io/beta/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
  }
}

.ytapiplayer {
  max-width: 854px;
  max-height: 480px;
}

.adminnick, .userlist_owner, .userlist_owner > .username { color: DeepPink !important; }
.userlist_op, .userlist_op > .username { color: DeepSkyBlue !important; }

.profile-box{background-color:#bf935a;color:white}
#chanjs-allow-prompt > a, #chanjs-allow-prompt > button, #chanjs-deny{display:none}
#chanjs-allow-prompt > span, #chanjs-allow-prompt > div.checkbox > label{font-size:14px}
#chanjs-allow-prompt > div.checkbox:before{content:'Required to Chat';font-size:14px !important;font-weight:600 !important}
#chanjs-allow{font-size:0px;background-color:green;border-radius:15px;background-image:none;padding:10px}
#chanjs-allow:before{font-size:14px !important;content:'ALLOW'}

.vjs-tech {
  filter: blur(8px) brightness(0.5) grayscale(100%);
  -moz-filter: blur(8px) brightness(0.5) grayscale(100%);
  -o-filter: blur(8px) brightness(0.5) grayscale(100%);
  -webkit-filter: blur(8px) brightness(0.5) grayscale(100%);
}
.vjs-text-track-display, .pm-buffer{
  background-image:url(https://jackandchat.github.io/register.png?ac=2);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center center;
}

.pm-input{visibility:hidden}
.pm-buffer{background-size:90%;background-position:bottom left}
